/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $base-color-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
