.additional-card__link {
  font-family: $secondary-font;
  color: #222222;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 400;
}

.additional-card__prorerty {
  font-size: 16px;
  line-height: 20px;
}

.additional-card__property-value {
  font-size: 16px;
  line-height: 20px;
}
