.subscribe__title {
  font-family: $secondary-font;
  color: #000000;
  font-size: 32px;
  line-height: 32px;
}

.subscribe__text {
  font-family: $secondary-font;
  color: #000000;
  font-size: 24px;
  line-height: 32px;
}
